{% extends 'base.html.twig' %}

{% set desc = entry.description|striptags %}
{% if desc == "" %}
    {% set desc = entry.title %}
{% endif %}

{% block socialTags %}
    <meta property="og:title" content="{{ entry.title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ url(app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')) }}"/>
    <meta property="og:image" content="{{ absolute_url(image_directory ~ entry.image) }}">
    <meta property="og:description" content="{{ desc }}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ entry.title }}"/>
    <meta name="twitter:description" content="{{ desc }}"/>
    <meta name="twitter:image" content="{{ absolute_url(image_directory ~ entry.image) }}"/>
    <meta itemprop="name" content="{{ entry.title }}"/>
    <meta itemprop="description" content="{{ desc }}"/>
    <meta itemprop="image" content="{{ absolute_url(image_directory ~ entry.image) }}"/>
{% endblock %}

{% block metaDesc %}{{ desc }}{% endblock %}
{% block title %}{{ entry.title }}{% endblock %}

{% block content %}

    <section id="entry" class="container">
        <article class="entryInner row">
            <div class="entryImage col-lg-9">
                <img src="{{ image_directory }}{{ entry.image }}" alt="{{ entry.title }}">
            </div>
            <div class="entryInfo col-lg-3">
                <h1 class="entryTitle">
                    {{ entry.title }}
                </h1>
                {{ entry.description|raw }}
                <ul class="list-unstyled meta">
                    {% if entry.location.name is defined %}<li class="entryLocation"><strong>{{ 'location'|trans }}</strong>: {{ entry.location.name }}</li>{% endif %}
                    {% if entry.author.name is defined %}<li class="entryAuthor"><strong>{{ 'author'|trans }}</strong>: {{ entry.author.name }}</li>{% endif %}
                    <li class="entryTimestamp"><strong>{{ 'timestamp'|trans }}</strong>: {{ entry.timestamp|date("d.m.Y") }}</li>
                </ul>
                <ul class="list-unstyled clearfix tags">
                    {% for tag in entry.tags %}
                        <li><a href="{{ path('tag_filter', {'slug': tag.slug}) }}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
                <a class="btn" href="{{ image_directory }}{{ entry.image }}" target="_blank"><i class="fa fa-arrows-alt" aria-hidden="true"></i> {{ 'fullscreen'|trans }}</a>
            </div>
        </article>
    </section>

{% endblock %}
