{% extends 'base.html.twig' %}

{% block socialTags %}
    <meta property="og:title" content="{{ 'photography'|trans }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ url(app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')) }}"/>
    <meta property="og:image" content="{{ absolute_url(asset('assets/img/layout/cover-placeholder.jpg')) }}"/>
    <meta property="og:description" content="{{ 'meta.desc'|trans }}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ 'photography'|trans }}"/>
    <meta name="twitter:description" content="{{ 'meta.desc'|trans }}"/>
    <meta name="twitter:image" content="{{ absolute_url(asset('assets/img/layout/cover-placeholder.jpg')) }}"/>
    <meta itemprop="name" content="{{ 'photography'|trans }}"/>
    <meta itemprop="description" content="{{ 'meta.desc'|trans }}"/>
    <meta itemprop="image" content="{{ absolute_url(asset('assets/img/layout/cover-placeholder.jpg')) }}"/>
{% endblock %}
{% block cover %}
    <section id="cover" class="parallaxContainer">
        <div class="parallax">
        </div>
    </section>
{% endblock %}
{% block content %}
    <section id="content" class="container">
        <div id="entries" class="list-unstyled">
            {{ render(controller('AppBundle:Default:paginateEntries', { 'page': 1 })) }}

            <div id="spinner" class="spinner" style="display: none">
                <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="60px" height="60px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                      <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                          <animateTransform attributeType="xml"
                                            attributeName="transform"
                                            type="rotate"
                                            from="0 25 25"
                                            to="360 25 25"
                                            dur="0.6s"
                                            repeatCount="indefinite"/>
                      </path>
                  </svg>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript">
        var paginateUrl = "{{ path('paginate_entries') }}";

        jQuery(document).ready(function() {
            lazyLoad();
            justify();
            lightbox();
        });
    </script>
{% endblock %}
