{% extends 'base.html.twig' %}

{% set desc = tag.description|striptags %}
{% if desc == "" %}
    {% set desc = 'introduction.tag'|trans ~ ' ' ~ tag.name %}
{% endif %}

{% set img = absolute_url(asset('assets/img/layout/cover-placeholder.jpg')) %}
{% if tag.image %}
    {% set img = absolute_url(image_directory ~ tag.image) %}
{% endif %}

{% block socialTags %}
    <meta property="og:title" content="{{ 'tag'|trans }} {{ tag.name }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ url(app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')) }}"/>
    <meta property="og:image" content="{{ img }}">
    <meta property="og:description" content="{{ desc }}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ 'tag'|trans }} {{ tag.name }}"/>
    <meta name="twitter:description" content="{{ desc }}"/>
    <meta name="twitter:image" content="{{ img }}"/>
    <meta itemprop="name" content="{{ 'tag'|trans }} {{ tag.name }}"/>
    <meta itemprop="description" content="{{ desc }}"/>
    <meta itemprop="image" content="{{ img }}"/>
{% endblock %}

{% block metaDesc %}{{ desc }}{% endblock %}
{% block title %}{{ 'tag'|trans }} {{ tag.name }}{% endblock %}

{% block cover %}
    <section id="cover" class="parallaxContainer">
        <div class="parallax" {% if tag.image %}style="background-image: url({{ image_directory }}{{ tag.image }})"{% endif %}>
        </div>
    </section>
{% endblock %}
{% block content %}
    <section id="content" class="container">
        <h1>{{ tag.name }}</h1>

        <div class="textContainer text-center">
            {% if tag.description != "" %}
                {{ tag.description|raw }}
            {% else %}
                <p>{{ 'introduction.tag'|trans }} <strong>{{ tag.name }}</strong></p>
            {% endif %}

            {% if relatedTags|length > 1 %}
                <div class="similarTags">{{ 'similar.tags'|trans }}:</div>
                <ul class="list-unstyled tags" style="display: inline-block">
                    {% for relatedTag in relatedTags %}
                        <li><a href="{{ path('tag_filter', {'slug': relatedTag.slug}) }}">{{ relatedTag.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div id="entries" class="list-unstyled">
            {{ render(controller('AppBundle:Default:paginateByTag', {'slug': tag.slug, 'page': 1 })) }}

            <div id="spinner" class="spinner" style="display: none">
                <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="60px" height="60px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                      <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                          <animateTransform attributeType="xml"
                                            attributeName="transform"
                                            type="rotate"
                                            from="0 25 25"
                                            to="360 25 25"
                                            dur="0.6s"
                                            repeatCount="indefinite"/>
                      </path>
                  </svg>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript">
        var paginateUrl = "{{ path('paginate_by_tag', {'slug': tag.slug}) }}";

        jQuery(document).ready(function() {
            lazyLoad();
            justify();
            lightbox();
        });
    </script>
{% endblock %}
